@tailwind base;
@tailwind components;
@tailwind utilities;

#map-wrapper {
  font-family: sans-serif;
}

#map {
  @apply absolute w-full h-full;
}

#attribution {
  @apply transition-opacity duration-300 absolute bottom-0 right-0 text-[.625rem] bg-[#F9F0D3] p-1 border border-t border-r border-[#eea61f] text-[#703b17];
}

:root {
  --maplibregl-ctrl-bg: #f9f0d3;
  --maplibregl-ctrl-border-color: #eea61f;
  --maplibregl-ctrl-text-color: #703b17;
  --maplibregl-ctrl-text-shadow: 0 0 0 var(--maplibregl-ctrl-bg);
}

.maplibregl-ctrl-group {
  background: var(--maplibregl-ctrl-bg);
  border: 2px solid var(--maplibregl-ctrl-border-color);
  border-radius: 0;
  text-shadow: var(--maplibregl-ctrl-text-shadow);
}

.maplibregl-ctrl button:not(:disabled):hover {
  background: #fdcf56;
}

.maplibregl-ctrl-group button + button {
  border-top: 2px solid var(--maplibregl-ctrl-border-color);
}

.maplibregl-ctrl-group:not(:empty) {
  box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.2);
}

.ahp-popup {
  background-image: url(./images/Popup-Background.svg);
  background-repeat: no-repeat;
  width: 233px;
  height: 120px;
  flex-direction: column;
  color: var(--maplibregl-ctrl-text-color);
  font-size: 1rem;
  line-height: 1.25rem;
  font-family: "Komika Title", Impact, Haettenschweiler, "Arial Narrow Bold",
    sans-serif;
}

.ahp-popup .maplibregl-popup-content {
  display: grid;
  place-items: center;
  background-color: transparent;
  border: none;
  box-shadow: none;
  position: relative;
  height: calc(100% - 20px);
  text-align: center;
}

.ahp-popup .maplibregl-popup-close-button {
  background-color: transparent;
  background-image: url(./images/Close-Button.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  width: 11px;
  height: 19px;
  top: 10px;
  right: 10px;
  text-indent: -9999px;
}

.maplibregl-popup-tip {
  display: none;
}
