@tailwind base;
@tailwind components;
@tailwind utilities;

#map-wrapper {
  font-family: "Komika Title",
      Impact,
      Haettenschweiler,
      "Arial Narrow Bold",
      sans-serif;
}

#map {
  @apply absolute w-full h-full;
}

#attribution {
  @apply transition-opacity duration-300 absolute bottom-0 right-0 text-xs italic bg-[#FFFCE1] p-1 border border-t border-r border-[#F4CE99] text-[#B17048];
}

@font-face {
  font-family: "Komika Title";
  src: url('./web-fonts/komtit__-webfont.woff2') format('woff2'),
    url('./web-fonts/komtit__-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.ahp-popup {
  background-image: url(./images/Popup_Background.svg);
  background-repeat: no-repeat;
  width: 233px;
  height: 120px;
  flex-direction: column;
  color: #C23D1C;
  font-size: 1rem;
  line-height: 1.25rem;
  font-family: "Komika Title",
      Impact,
      Haettenschweiler,
      "Arial Narrow Bold",
      sans-serif;
}

.ahp-popup .maplibregl-popup-content {
  display: grid;
    place-items: center;
  background-color: transparent;
  border: none;
  box-shadow: none;
  position: relative;
  height: calc(100% - 20px);
  text-align: center;
}

.ahp-popup .maplibregl-popup-close-button {
  background-color: transparent;
  background-image: url(./images/Close_Button.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  width: 11px;
  height: 19px;
  top: 10px;
  right: 10px;
  text-indent: -9999px;
}

.maplibregl-popup-tip {
  display: none;
  
}